# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build
bin/
obj/

# NuGet
packages/
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
artifacts/

# Logs
*.log

# Banco de dados local
*.db
*.sqlite

# Testes
TestResults/

# Rider
.idea/

# macOS
.DS_Store

# ReSharper
_ReSharper*/